{% extends "index.html" %}
  {% block content %}
  <header class="masthead">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class=" col-md-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h3 class=" site-heading my-4 mt-3 text-white">Welcome to the about page</h3>
                </div>
            </div>
        </div>
    </div>
  </header>
  <br/>
  <div class="container">
    <hr/>
    <div class="row">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quis neque ex.
        Donec feugiat egestas dictum. In eget erat sit amet elit pellentesque convallis nec vitae turpis.
        Vivamus et molestie nisl. Aenean non suscipit velit. Nunc eleifend convallis consectetur.
        Phasellus ornare dolor eu mi vestibulum, ornare tempus lacus imperdiet.
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Pellentesque ut sem ligula.
        Mauris volutpat vestibulum dui in cursus. Donec aliquam orci pellentesque, interdum neque sit amet,
        vulputate purus. Quisque volutpat cursus nisl, in volutpat velit lacinia id. Maecenas id felis diam.
      </p>
      <a href="/">Go back home</a>
    </div>
  </div>
  {% endblock %}
