<!-- howdy/templates/about.html -->
{% extends "index.html" %}
  {% block content %}
  <div class="container">
  <hr/>
    <div class="row">
      <div id="chartContainer">
        <script src="http://d3js.org/d3.v4.min.js"></script>
        <script src="http://dimplejs.org/dist/dimple.v2.3.0.min.js"></script>
        <script type="text/javascript">

          var svg = dimple.newSvg("#chartContainer", 590, 400);
          d3.tsv("https://raw.githubusercontent.com/PMSI-AlignAlytics/dimple/master/data/example_data.tsv", function (data) {
            var myChart = new dimple.chart(svg, data);
            myChart.setBounds(60, 30, 510, 305)
            var x = myChart.addCategoryAxis("x", "Month");
            x.addOrderRule("Date");
            myChart.addMeasureAxis("y", "Unit Sales");
            myChart.addSeries(null, dimple.plot.bar);
            myChart.draw();
          });
        </script>
      </div>
    </div>
    <br/>
    <a href="/">Go back home</a>
  </div>
{% endblock %}
