<!-- howdy/templates/index.html -->
{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Django Application | Howdy</title>
      <link href="{% static 'howdy/css/base.css' %}" rel="stylesheet" media="all">
  </head>
  <body> {%block content%}
      <h1 class="heading">Howdy! We are Learning Django!</h1>
   <ul>
    <li>
      <a href="/about/">About</a>
    </li>
    <li>
      <a href="/contact/">Contact</a>
    </li>
   </ul>
   
  <div class="container">
      <div class="row">
          <!-- Blog Entries Column -->
          <div class="col-md-8 mt-3 left">
              {% for post in post_list %}
              <div class="card mb-4">
                  <div class="card-body">
                      <h2 class="card-title">{{ post.title }}</h2>
                      <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                      <p class="card-text">{{post.content|slice:":200" }}</p>
                      <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>
                  </div>
              </div>
              {% endfor %}
          </div>
          {% block sidebar %} {% endblock sidebar %}
      </div>
  </div>

  {% endblock %}
  </body>
</html>
