@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
.heading {
  color: #fff;
  text-decoration: none;
  &--hero {
    font-size: 28px;
  }
  &--logo-label {
    font-size: 25px;
    display: inline-block;
  }
  &--secondary {
    color: #fff;
    display: inline-block;
    font-family: 'Crimson Text', serif;
    font-weight: normal;
    font-size: 56px;
    padding: 0 0.5em;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 0px 2px, rgba(0, 0, 0, 0.3) 0px 0px 20px;
  }
  &__characters {
    background: rgba(#fff,0.3);
  }
}
