.logo {
  &__link {
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 25px;
    text-decoration: none;
  }
  &__thumbnail {
    display: inline-block;
    vertical-align: middle;
    width: 5%;
  }
}
